# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# exclude tmp folder contents
/data/99_tmp/*
!/data/99_tmp/.gitkeep

# hdf5 trajectories
*.h5
#*.pdb

# big files (>20M)
/data/50_Shuzhe/CsA_chcl3_noebounds_numconf5400.pdb
/data/50_Shuzhe/CsA_chcl3_norandcoord_5400.pdb
/data/99_tmp/rmsmat_CsA_chcl3_noebounds_5400
/data/99_tmp/rmsmat_CsE_ccl4_corr_noebounds_5400
/data/99_tmp/rmsmat_CsE_dmso_corr_tol1.25_noebounds_5400
/data/0CSA/21_CsA_chcl3_noebounds_5400.pdb
/data/0CSA/21_0csa_tol1_noebounds_5400.pdb
/data/0CSA/21_aligned_21_0csa_tol1_noebounds_5400.pdb
/data/0CSA/20_0csa_baseline_5400.pdb
/data/0CSA/40_min_vac_0csa_tol1_noebounds_5400.pdb
/data/0CSA/50_min_solv_0csa_tol1_noebounds_5400.pdb
/data/0CSA/60_min_ANI_0csa_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_240-299idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/21_aligned_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_300-359idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_420-479idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/20_1dp1_baseline_5400.pdb
/data/1DP1/40_min_vac_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/50_min_solv_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_480-539idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_0-59idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_60-119idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_120-179idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_180-239idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP1/51_1ns_solv_360-419idx_21_1dp1_tol1_noebounds_5400.pdb
/data/1DP2/21_DPep2_chcl3_noebounds_5400.pdb
/data/1DP2/21_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/21_aligned_21_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/50_min_solv_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/60_min_ANI_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/20_1dp2_baseline_5400.pdb
/data/1DP2/40_min_vac_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/51_1ns_solv_0-179idx_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/51_1ns_solv_360-539idx_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/52_5ns_solv_0-17idx_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/52_5ns_solv_18-35idx_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/52_5ns_solv_36-53idx_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/51_1ns_vac_270-359idx_21_1dp2_tol1_noebounds_5400.pdb
/data/1DP2/51_1ns_vac_180-269idx_21_1dp2_tol1_noebounds_5400.pdb
/data/1DP3/21_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/40_min_vac_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/21_aligned_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/60_min_ANI_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/20_1dp3_baseline_5400.pdb
/data/1DP3/50_min_solv_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/51_5ns_vac_18-35idx_21_1dp3_tol1_noebounds_5400.pdb
/data/1DP3/51_5ns_vac_36-53idx_21_1dp3_tol1_noebounds_5400.pdb
/data/1DP4/21_1dp4_tol1_noebounds_5400.pdb
/data/1DP4/40_min_vac_1dp4_tol1_noebounds_5400.pdb
/data/1DP4/50_min_solv_1dp4_tol1_noebounds_5400.pdb
/data/1DP4/21_aligned_1dp4_tol1_noebounds_5400.pdb
/data/1DP4/60_min_ANI_1dp4_tol1_noebounds_5400.pdb
/data/1DP4/20_1dp4_baseline_5400.pdb
/data/1DP5/20_DPep5_baseline_5400.pdb
/data/1DP6/21_1dp6_tol1_noebounds_5400.pdb
/data/1DP6/20_1dp6_baseline_5400.pdb
/data/1DP6/40_min_vac_1dp6_tol1_noebounds_5400.pdb
/data/1DP6/50_min_solv_1dp6_tol1_noebounds_5400.pdb
/data/1DP6/60_min_ANI_1dp6_tol1_noebounds_5400.pdb
/data/1DP6/21_aligned_21_1dp6_tol1_noebounds_5400.pdb
/data/2FRB/20_2frb_baseline_5400.pdb
/data/2IFJ/20_2ifj_baseline_5400.pdb
/data/2IFJ/21_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/21_aligned_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/40_min_vac_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/50_min_solv_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/60_min_ANI_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/51_1ns_vac_0-179idx_21_2ifj_tol1_noebounds_5400.pdb
/data/2IFJ/51_1ns_vac_180-359idx_21_2ifj_tol1_noebounds_5400.pdb
/data/2L2X/20_2l2x_baseline_5400.pdb
/data/2L2X/21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/42_5ns_vac_0-17idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_5ns_vac_18-35idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_0-59idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_120-179idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_420-479idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_300-359idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/21_aligned_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/40_min_vac_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/50_min_solv_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/60_min_ANI_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/42_5ns_vac_18-35idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/52_5ns_solv_0-17id_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_60-119idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_240-299idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_180-239idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2L2X/51_1ns_solv_360-419idx_21_2l2x_tol1_noebounds_5400.pdb
/data/2MUH/20_2muh_baseline_5400.pdb
/data/2N7N/20_2n7n_baseline_5400.pdb
/data/2NBC/20_2nbc_baseline_5400.pdb
/data/5LFF/20_5lff_baseline_5400.pdb
/data/5LFF/21_5lff_tol1_noebounds_5400.pdb
/data/5LFF/50_min_solv_5lff_tol1_noebounds_5400.pdb
/data/5LFF/21_aligned_5lff_tol1_noebounds_5400.pdb
/data/5LFF/40_min_vac_5lff_tol1_noebounds_5400.pdb
/data/5LFF/60_min_ANI_5lff_tol1_noebounds_5400.pdb
/data/6B34/20_6b34_baseline_5400.pdb
/data/6BEU/20_6beu_baseline_5400.pdb
/data/6BEU/21_6beu_tol1_noebounds_5400.pdb
/data/6BEU/21_aligned_6beu_tol1_noebounds_5400.pdb
/data/6BEU/40_min_vac_6beu_tol1_noebounds_5400.pdb
/data/6BEU/50_min_solv_6beu_tol1_noebounds_5400.pdb
/data/6BEU/51_1ns_solv_0-179idx_6beu_tol1_noebounds_5400.pdb
/data/6BEU/51_1ns_solv_180-359idx_6beu_tol1_noebounds_5400.pdb
/data/6BEU/51_1ns_solv_360-539idx_6beu_tol1_noebounds_5400.pdb
/data/6BF3/21_6bf3_tol1_noebounds_5400.pdb
/data/6BF3/20_6bf3_baseline_5400.pdb
/data/6BF3/40_min_vac_6bf3_tol1_noebounds_5400.pdb
/data/6BF3/50_min_solv_6bf3_tol1_noebounds_5400.pdb
/data/6BF3/21_aligned_6bf3_tol1_noebounds_5400.pdb
/data/6BF3/60_min_ANI_6bf3_tol1_noebounds_5400.pdb
/data/6FCE/20_6fce_baseline_5400.pdb
/data/6FCE/21_6fce_tol1_noebounds_5400.pdb
/data/6FCE/21_aligned_6fce_tol1_noebounds_5400.pdb
/data/6FCE/40_min_vac_6fce_tol1_noebounds_5400.pdb
/data/6FCE/50_min_solv_6fce_tol1_noebounds_5400.pdb
/data/6FCE/60_min_ANI_6fce_tol1_noebounds_5400.pdb
/data/6FCE/51_5ns_vac_0-17idx_21_6fce_tol1_noebounds_5400.pdb
/data/6FCE/51_5ns_vac_18-35idx_21_6fce_tol1_noebounds_5400.pdb
/data/6HVC/20_6hvc_baseline_5400.pdb
/data/6VY8/20_6vy8_baseline_5400.pdb
/data/0CED/20_0ced_baseline_5400.pdb
/data/0CED/21_0ced_tol1_noebounds_5400.pdb
/data/0CED/21_aligned_0ced_tol1_noebounds_5400.pdb
/data/0CED/50_min_solv_0ced_tol1_noebounds_5400.pdb
/data/0CED/40_min_vac_0ced_tol1_noebounds_5400.pdb
/data/0CED/51_5ns_vac_36-53idx_21_0cse_tol1_dmso_noebounds_5400.pdb
/data/0CED/51_1ns_solv_dmso_300-359idx_21_0cse_tol1_dmso_noebounds_5400.pdb
/data/0CED/51_1ns_solv_dmso_360-419idx_21_0cse_tol1_dmso_noebounds_5400.pdb
/data/0CED/51_1ns_solv_dmso_420-479idx_21_0cse_tol1_dmso_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_120-179idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/21_aligned_0cec_tol1_noebounds_5400.pdb
/data/0CEC/21_0cec_tol1_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_180-239idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_360-419idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/20_0cec_baseline_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_60-119idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_480-539idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/40_min_vac_0cec_tol1_noebounds_5400.pdb
/data/0CEC/50_min_solv_0cec_tol1_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_240-299idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/60_min_ANI_0cec_tol1_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_420-479idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/0CEC/51_1ns_solv_ccl4_300-359idx_21_0cse_tol1_ccl4_noebounds_5400.pdb
/data/analysis.data
/data/analysis_notfd_gene.data
